body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  margin: 0;
}

.card-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-justify: distribute;
}

.card {
  background-color: white;
  text-align: center;
  width: 300px;
  border-radius: 16px;
}

.card figure {
  margin: 0;
  padding: 12px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}

.card h1 {
  font-size: 1.32rem;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

.card p {
  font-weight: 400;
  color: hsl(216, 15%, 48%);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  position: absolute;
  bottom: 10px;
}