body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  margin: 0;
}

.card-section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 320px;
  height: 499px;
  background-color: white;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 7px 2px hsl(216, 15%, 90%);
}

.card figure {
  margin: 0;
  padding: 12px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1.17rem;
}

.card h3 {
  font-size: 1.32rem;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  letter-spacing: 0px;
  margin: 0 1rem;
}

.card p {
  font-weight: 400;
  color: hsl(216, 15%, 48%);
  font-size: 0.9375rem;
  letter-spacing: 0.2px;
  margin: 0 1rem;
  margin-top: 1rem;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  position: absolute;
  bottom: 15px;
  inset-inline: 0px;
}

@media (max-height: 590px) {
  footer {
    position: static;
    margin-bottom: 15px;
  }
}